
.card {
    display: grid;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, z-index 0.3s;
    border-radius: 5px;
    min-width: 175px;
    max-width: 250px;
    position: relative;
}
.card img {
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

.card img:hover {
    border-radius: 4px 4px 0 0;
    transition-delay: 0.5s;
}

.card h3 {
    font-size: 0.9em;
    padding-top: 0.2em;
}

.card:hover {
    z-index: 9997;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.card p {
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 1.5em;
    font-weight: 500;
}


.film-details {
    display: none;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #212121;
    border-radius: 0 0 5px 5px;
    position: relative;
}

.film-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
    align-items: center;
}

.play-button,
.favorite-button,
.remove-favorite-button {
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info-circle::before {
    display: block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 1em;
    border: none;
}

.play-button .fa-play {
    color: black;
}

.play-button {
    background-color: white !important;
    border: black 2px;
    align-items: center;
}
.info-button {
    margin-left: auto;
    width: fit-content;
    padding: 0;
    height: fit-content;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    align-self: flex-start;
}

.fa-lg {
    color: #fff;

}

@media (max-width: 767px) {
    .info-button {
        display: none;
    }
    .card {
        max-width: 95vw;
        transform: none !important;
    }

    .card p,
    .film-card-buttons,
    .card h3 {
        background-color: #212121;
    }

    .card h3 {
        font-size: 0.7em;
    }

    .card p {
        font-size: 0.7em;
        padding: 1em;
    }

    .card h3 {
        background-color: transparent;
    }

    #page-content .film-details {
        display: none !important;
    }

    .categories-header {
        padding: 0;
    }

    .film-details {
        padding: 0;
    }
}