
#individualPageFilms .info-button {
    display: none;
}

#individualPageFilms {}

#individualPageFilms .card {
    max-width: 80vw;
    margin: 0 auto;
}


#individualPageFilms .card:hover {
    transform: none;
}

#individualPageFilms .film-details {
    display: flex;
}
@media (max-width: 767px) {
    #searchInput {
        min-width: 123px;
    }}
