
.sortDropdown {
    margin-left: auto;
}

#categoryDropdown,
#sortDropdown {
    width: fit-content;
    color: white;
    font-weight: bold;
    padding: 0.3em;
    font-size: 0.8em;
    background-color: #212121;
}

#categoryDropdown option {
    border-radius: 0px;
}

#categoryDropdown select {
    border-radius: 0px;

}


@media (max-width: 767px) {
    .sortDropdown {
        margin-left: 0;
        padding-left:1em;
    }

    #categoryDropdown  {
       display:none;
    }
    }