.categories-header-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 2.5em;
}

#categoriesHeader {
    line-height: 1em;
}

.film-list {
    gap:0.5em;
    display: grid;
    grid-auto-rows: 170px;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.individual-film-content {
    display: flex;
    gap: 3em;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5em;
}
.favorite-page-header {padding-top:2em;}

.back-to-categories-button {
    position: sticky;
    z-index: 9999;
    top: 80px;
}

.refresh-button {
    cursor: pointer;
    place-self: end;
    font-weight: 600;
}

#sortedFilms {
    flex-direction: column;
}

@media (max-width: 767px) {
    .hover-cards-container .film-card-container:hover {height:120px}
    .favorite-page-header {padding-top:0em;}



    .film-list-container {
        display: flex;
        flex-direction: column;
        height: 170px;

    }

    .film-list-container h2 {
        margin-left: 0.2em;
        padding-bottom: 0.5em;
    }

    .film-list {
        display: flex;
        flex-direction: row;
        gap: 1em;
        max-width: 100vw;
        overflow: scroll;
        flex-wrap: nowrap;
    }
    .favorites-list { display: flex;
        flex-direction: row;
        gap: 1em;
        max-width: 100vw;
        overflow: visible;
        flex-wrap: wrap;}

    .release-year-list {
        flex-wrap: wrap;
        overflow: visible;
    }


    #categoryPageFilms {
        overflow: visible;
        flex-wrap: wrap;
    }

    #resultContainer .film-list {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .categories-header-container {
        padding-bottom: 2em;
    }

    .categories-header {
        padding: 0;
        display: none;
    }

    .result-container {
        padding-top: 1em;
    }

}