.card {
    display: grid;
    cursor: pointer;
    min-width: 150px;
    max-width: 200px;
    position: relative;
    transition: ease-in 0.2s;
    z-index: 9996;

}

.card img {
    border-radius: 1px;
}

.card p {
    font-size: 0.6em;
    line-height: 1.5em;
    font-weight: 500;
}

.card h3 {
    font-size: 0.8em;
}

.film-details {
    display: none;
    flex-direction: column;
    padding: 0 0.6em 0.6em 0.6em;
    background-color: #212121;
    border-radius: 0 0 2px 2px;
    position: relative;
}

.film-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}

.play-button,
.favorite-button,
.remove-favorite-button {
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.fa-info-circle::before {
    display: block;
    border-radius: 100%;

}

.play-button {
    background-color: white !important;
    align-items: center;
    color: #212121;

}
.fa-play {padding-left:0.1em;}

.info-button {
    margin-left: auto;
    width: fit-content;
    padding: 0;
    height: fit-content;
    border-radius: 10px;
    border: none;
    background-color: transparent;

}

.fa-circle-info {
    color: #fff;

}

.film-container .card h2 {
    font-size: 0.7em;
}

.film-container .card img:hover {
    border-radius: 2px 2px 0 0;
}

.film-container .card:hover {
    z-index: 9999;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.modal .card:hover {
    transform: none !important;
}

@media (max-width: 767px) {


    .film-container .card h2 {
        font-size: 1em;
    }

    .info-button {
        display: none;
    }

    .card {
        transform: none !important;
    }

    .card p,
    .film-card-buttons,
    .card h3 {
        background-color: #212121;
    }

    .play-button,
    .favorite-button,
    .remove-favorite-button {

        width: 35px;
        height: 35px;
  
    }

    .card p {
        font-size: 0.7em;
        padding: 1em;
    }

    #pageContent .film-details {
        display: none !important;
    }

    .categories-header {
        padding: 0;
    }

    .film-details {
        padding: 0;
    }
}

@media (min-width: 767px) {

    .card {
        max-width: 225px;
    }
}@media (min-width: 1200px) {

    .card {
        max-width: 300px;
    }
}