.hover-cards-container .card {
    display: grid;
    cursor: pointer;
    width:175px;
    position: relative;
    transition: ease-in 0.2s;
    z-index: 9996;
    overflow: hidden;

}


.card img {
    border-radius: 4px;
}

.card p {
    font-size: 0.6em;
    line-height: 1.5em;
    font-weight: 500;
}

.card h3 {
    font-size: 0.8em;
}

.film-details {
    display: flex;
    flex-direction: column;
    padding: 0 0.6em 0.6em 0.6em;
    background-color: #212121;
    border-radius: 0 0 4px 4px;
    position: relative;
}

.film-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}

.play-button,
.favorite-button,
.remove-favorite-button {
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.fa-info-circle::before {
    display: block;
    border-radius: 100%;

}

.play-button {
    background-color: white !important;
    align-items: center;
    color: #212121;

}

.fa-play {
    padding-left: 0.1em;

}

.info-button {
    margin-left: auto;
    width: fit-content;
    padding: 0;
    height: fit-content;
    border-radius: 10px;
    border: none;
    background-color: transparent;

}

.fa-circle-info {
    color: #fff;

}

.hover-cards-container .card h2 {
    font-size: 0.7em;
}

.hover-cards-container  .card img:hover {
    border-radius: 4px 4px 0 0;
}

.hover-cards-container .film-card-container.hovered {
    z-index: 9999;
    position: relative;
    transform-origin: center bottom;
    transform: scale(1.4);
    transition: ease-in-out 0.3s, opacity 0.3s ease, visibility 0.6s, ease .3s;
    transition-delay: 0.7s;
}
.card:hover {
    overflow: visible;
    height: fit-content
}

.film-card-container {
    transition: transform 0.3s ease-out;
}

.hover-cards-container .film-details {
    visibility: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.film-description {
    padding: 0.5em 0 0.5em
}

.hover-cards-container .hovered img {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition-delay: 0.7s;

}

.hover-cards-container img:hover {
    border-radius: 4px 4px 0 0;
}

.hover-cards-container .film-list .first-card {
    transform-origin: left bottom !important;
}

.modal.card:hover {
    transform: none !important;
}

.hover-cards-container .film-card-container:not(.film-details).hovered .film-details {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.7s;
}

@media (max-width: 767px) {
    .hover-cards-container .film-card-container.hovered {
        z-index: 9996;
  
        transform: none;
        transition:none;
    }

   .hover-cards-container .card h2 {
        font-size: 1em;
    }

    .info-button {
        display: none;
    }

    .card {
        transform: none !important;
    }

    .card p,
    .film-card-buttons,
    .card h3 {
        background-color: #212121;
    }

    .play-button,
    .favorite-button,
    .remove-favorite-button {

        width: 35px;
        height: 35px;

    }

    .card p {
        font-size: 0.7em;
        padding: 1em;
    }

    #pageContent .film-details {
        display: none !important;
    }

    .categories-header {
        padding: 0;
    }

    .film-details {
        padding: 0;
    }
}

@media (min-width: 767px) {

    .card {
        max-width: 200px;
    }
}

@media (min-width: 1200px) {

    .card {
        max-width: 250px;
    }
}