
#individual-page-films .info-button {
    display: none;
}

#individual-page-films .card {
    max-width: 95vw;
    margin: 0 auto;
    padding:2em;
    background-color: #212121;
    border-radius: 2px;
}

#individual-page-films .card:hover {
    transform: none;
}

#individual-page-films .film-details {
    display: flex;
}
#individual-page-films p {font-size:1em;}
@media (max-width: 767px) {
    #search-input {
        min-width: 123px;
    }}
