@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Netflix Sans', sans-serif;
    font-size: 1em;
    background-color: #141414;

}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

.mobile-nav-container {
    display: none;

}

a {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

#page-content {
    padding-left: 3%;
    padding-right: 3%;
}

.sorted-films {
    padding-top: 1.5em;
    display: grid;
    grid-auto-rows: 150px;
    width: 100%;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

img {
    width: 100%;
    display: block;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    padding-right: 3em;
}

.topnav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    max-width: 100%;
    gap: 3em;
}

a:hover {
    color: #b3b3b3;
}


.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.mobile-search-container {
    display: none;
}

#search-container {
    width: 260px;
    height: 40px;
    background-color: #333;
    display: flex;
    align-items: center;
    z-index: -1;
    margin-left: auto;
}

#search-button {
    color: white;
    cursor: pointer;
    z-index: 9998;
}

#search-input.active {
    white-space: nowrap;
    z-index: 9998;
}

#search-input {
    width: 0;
    overflow: hidden;
    min-width: 145px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border: 1px white solid;
    white-space: nowrap;
    margin-left: -25px;
    text-indent: 2.3em;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    z-index: 9997;
}

.search-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-result-films {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    flex-wrap: wrap;
    gap: 0.7em;
    margin-top: 1em;
    position: relative;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 100%;
    position: relative;
    align-self: center;
    justify-self: center;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.categories-header-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 2.5em;
}

#categoriesHeader {
    line-height: 1em;
}

.sort-dropdown {
    margin-left: auto;
}

#categoryDropdown,
#sort-dropdown {
    width: fit-content;
    color: white;
    font-weight: bold;
    padding: 0.3em;
    font-size: 0.8em;
    background-color: #212121;
}

#categoryDropdown option {
    border-radius: 0px;
}

#categoryDropdown select {
    border-radius: 0px;

}

.category-row h2 {

    color: #fff;
    font-size: 1.3em;
    padding-bottom: 0.5em;
    display: block;
}

.category-row {
    display: grid;
    grid-template-rows: 1fr 170px;

}

.hidden {
    display: none;
    transition: opacity 200ms, display 200ms;

}

.film-list {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    flex-wrap: wrap;
}

.card {
    display: grid;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, z-index 0.3s;
    border-radius: 5px;
    min-width: 175px;
    max-width: 250px;
    position: relative;
}

.modal .card {
    margin-bottom: 5em !important;
    padding-bottom: 4em;
}

#individual-page-films .info-button {
    display: none;
}

.card img {
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

.card img:hover {
    border-radius: 4px 4px 0 0;
    transition-delay: 0.5s;
}

.info-button {
    margin-left: auto;
    width: fit-content;
    padding: 0;
    height: fit-content;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    align-self: flex-start;
}

.card h3 {
    font-size: 0.9em;
    padding-top: 0.2em;
}


/* Modal container */
.modal {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
    padding-top: 2em;

}

.close-modal-button .fa-times-circle {
    color: rgb(255, 255, 255, 0.8);
    display: flex;

}

.fa-lg {
    color: #fff;

}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    z-index: 9997;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.film-details {
    display: none;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #212121;
    border-radius: 0 0 5px 5px;
    position: relative;


}

.close-modal-button {
    display: none;
}

.modal .close-modal-button {
    display: block;
}

.modal .card:hover {
    transform: none;
}

.modal {
    z-index: 9999;
}

.modal .film-details {
    display: flex;
}

.modal .card {
    max-width: 1000px;
    margin: 0 auto;
    justify-self: center;
    padding-bottom: 4em;

}

.film-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
    align-items: center;
}

.play-button,
.favorite-button,
.remove-favorite-button {
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info-circle::before {
    display: block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 1em;
    border: none;
}

.play-button .fa-play {
    color: black;
}

.play-button {
    background-color: white !important;
    border: black 2px;
    align-items: center;
}

.card p {
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 1.5em;
    font-weight: 500;
}

#individual-page-films {}

#individual-page-films .card {
    max-width: 80vw;
    margin: 0 auto;
}


#individual-page-films .card:hover {
    transform: none;
}

#individual-page-films .film-details {
    display: flex;
}

.mobile-nav-heading,
.links a {
    background-color: #212121;
    ;
}

#category-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

@media (max-width: 767px) {
    .info-button {
        display: none;
    }


    .mobile-nav-container {
        max-width: 480px;
        background: #5555;
        margin: auto;
        position: absolute;
        z-index: 9999;
        width: 100vw;
        display: flex;

    }

    .mobile-navbar {
        background: white;
        position: relative;
    }

    .links {
        display: none;
    }

    .heading a:nth-child(2) {
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding: 7px;
        margin-left: 150px;
    }

    .heading a i {
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    .heading a i:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .links {
        background-color: rgb(190, 196, 190);
    }

    .links a {
        color: green;
        padding: 5px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
        border-bottom: 1px solid white;
    }

    .links a:hover {
        background-color: green;
        color: white;
    }

    .topnav {
        display: none;
    }

    #wrapper {
        max-width: 600px;
    }

    .card {
        max-width: 95vw;
        transform: none !important;

    }

    .card p,
    .film-card-buttons,
    .card h3 {
        background-color: #212121;
    }

    .film-details {
        display: flex !important;
    }

    .card h3 {
        font-size: 0.7em;
    }

    .card p {
        font-size: 0.7em;
        padding: 1em;
    }

    .modal {
        padding-top: 5em;
    }

    .modal .card {
        max-width: 95vw;
        margin: 0 auto;
        justify-self: center;
    }

    .film-list {
        position: relative !important;
        flex-direction: column;
        margin: 0 auto;
    }

    .card h3 {
        background-color: transparent;
    }

    #page-content .film-details {
        display: none !important;
    }

    .category-row {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        margin-top: 2em;
    }

    .category-row h2 {
        padding-bottom: 1em;
        grid-row: 1;
    }

    .categories-header-container {
        display: none;
    }

    .modal-show .card {
        display: flex !important;
    }

    .film-list {
        grid-row: 2;
        flex-direction: row;
    }

    .film-container {
        grid-template-columns: 1fr;
        display: grid;
    }

    .categories-header {
        padding: 0;
    }

    .film-details {
        padding: 0;
    }
}

@media screen and (max-width: 1040px) {


    #search-input {
        min-width: 123px;
    }

    .netflix-logo-mobile {
        z-index: 9998;
        display: block;
        width: 100px;
        margin: 0 auto;
        grid-column: 2;
        grid-row: 1;
    }
}

@media screen and (max-width: 600px) {
    .result-container h2 {
        display: none;
    }
}