/* Import Google Fonts and define font face */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff');
}

/* Reset styles */
* {
    margin: 0;
    box-sizing: border-box;
    background-color: #141414;
}

/* Typography and general styles */
body {
    color: #e5e5e5;
    font-family: 'Netflix Sans', sans-serif;
    font-size: 1em;
}

.icon {
    display: none;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
}

/* Page wrapper */
#wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

#page-content {
    padding-left: 3%;
    padding-right: 3%;
}

/* Images */
img {
    width: 100%;
    display: block;
    height: 100%;
}

/* Header styles */
nav {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 3em;
}

.topnav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    max-width: 100%;
    gap: 3em;
}


.topnav a:hover {
    color: #b3b3b3;
}


.netflix-logo {
    max-width: 100px;
}

.netflix-logo-mobile {
    display: none;
}

/* Search container */
.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#search-container {
    width: 260px;
    height: 40px;
    background-color: #333;
    display: flex;
    align-items: center;
    z-index: -1;
}

#search-button {
    color: white;
    cursor: pointer;
    z-index: 9999;
}

#search-input {
    width: 0;
    overflow: hidden;
}

#search-input.active {
    white-space: nowrap;
    z-index: 9999;

}

#search-input {
    min-width: 145px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border: 1px white solid;
    white-space: nowrap;
    margin-left: -25px;
    text-indent: 2.3em;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    z-index: 9998;
}

/* Search controls */
.search-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Page Content styles */
#result-row {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    flex-wrap: wrap;
    gap: 0.7em;
    margin-top: 1em;
    position: relative;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 100%;
    position: relative;
    align-self: center;
    justify-self: center;
}

/* Favorites section */
.favorite-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    gap: .7em;
}

.favorite-list-container {
    margin-bottom: 4.5em;
    max-width: 100%;
}

.favorites-header {
    padding-bottom: 1em;
    padding-top: 1em;
}

/* Categories section */
.category-row h2 {

    color: #fff;
    font-size: 1.3em;
    padding-bottom: 0.5em;
}

.category-row {
    display: grid;
    flex-direction: column;
    grid-template-rows: 1fr 250px;

}

/* Active state */
.active {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 7em;
}

.hidden {
    display: none;
}

/* Film list */
.film-list {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    flex-wrap: wrap;
}

/* Film card and favorite card styles */
.card {
    display: grid;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, z-index 0.3s;
    border-radius: 5px;
    min-width: 150px;
    max-width: 250px;
    z-index: 3;
    position: relative;
}

.card h3 {
    font-size: 0.9em;
    padding-top: 0.2em;
}

.card:hover img {
    border-radius: 5px 5px 0 0;
}

/* Hover effect */
.card:hover {
    transform: scale(1.2) !important;
    z-index: 996;
    position: relative;
}

.card:hover * {
    background-color: #212121;
}

.film-details {
    display: none;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #212121;
    border-radius: 0 0 5px 5px;
    position: relative;
}

.film-details:hover {
    display: flex;
}

/* Card buttons */
.film-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
}

.play-button,
.favorite-button,
.remove-favorite-button {
    border: 2px solid white;
    border-radius: 100%;
    padding: 0.5em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button .fa-play {
    color: black;
    background-color: white !important;
}

.play-button {
    background-color: white !important;
    border: black 2px;
    align-items: center;
}

.card:hover p {
    display: flex;
    font-size: 0.7em;
    line-height: 1.5em;
    padding-bottom: 1.5em;
    font-weight: 500;
}

.card:hover div {
    display: flex;
}

/* View all link and buttons */
#viewAllLink {
    white-space: nowrap;

}

.viewAllLink-container {
    border-bottom: 2px solid white;
    width: fit-content;
    padding-top: 0.5em;
    padding-left: 0.1em;
    position: relative;
    display: flex;
    top: 0;
    margin-bottom: 2.5em;
}

#viewAllButtons {
    position: absolute;
    justify-self: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#viewAllLink.active .hide-in-view-all {
    display: none;
}

/* View modes */
#viewAllCards .film-list {
    display: grid;
    grid-auto-rows: 200px;
}

.list-view .film-list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-auto-rows: 200px;
    position: relative;
}

.grid-view .film-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
    width: 100%;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.grid-view .film-card {
    position: absolute;
    transition: transform 0.3s ease-in-out, z-index 0.3s;
    flex: 1;
}

.list-view {
    display: flex !important;
    flex-direction: column;
    gap: 5em;
}

@media (max-width: 767px) {
    /* Responsive styles for smaller screens */

    #wrapper {
        max-width: 600px;
    }

    /* Styles for mobile devices */

    .card p,
    .film-card-buttons,
    .card h3 {
        background-color: #212121;
    }

    .card p {
        padding: 1em;
    }

    .film-list {
        position: relative !important;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    .card h3 {
        background-color: transparent;
    }

    .favorite-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .favorite-list-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .category-row {
        grid-template-rows: auto;
    }

    .category-row h2 {
        padding: 2em 0em 1em 2.5em;
    }

    .categories-header {
        padding: 0;
    }

    .film-details {
        padding: 0;
    }

    .viewAllLink-container {
        margin: 0;
    }

    #viewAllCards .film-list {
        display: flex;
        align-items: center;
        padding-top: 2em;
    }

    #viewAllButtons {
        display: none;
    }

    /* Responsive navigation styles */

}

@media screen and (max-width: 1040px) {
    .topnav.responsive {
        position: absolute;
        max-height: 500px !important;
        transition: max-height 0.5s ease-in-out;
        top: 0px;
        width: 100%;

    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        font-size: 1.2em;
        max-height: 500px;
    }

    .topnav a:first-child {
        display: none;
    }

    .topnav a:nth-child(2) {
        padding-top: 1em;
    }

    .topnav {
        position: absolute;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        padding-right: 1em;
        justify-content: flex-end;
        gap: 0;
        background-color: transparent;
        background-color: #212121;
        grid-column: 2/span 3;
        grid-row: 2;
        z-index: 9999;
        min-height: 1px;
        overflow: hidden;
        max-height: 1px;
        min-height: 1px;



    }

    nav {
        padding: 0;
        display: grid;
        flex-direction: row;
        align-items: center;
        padding: 0 1em 0 1em;
        background-color: transparent;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px 1fr;
        position: absolute;
        width: 100%;
        transition: min-height 0.5s linear;
        top: 0;
        z-index: 9998;
        position: relative;
    }

    #menuIcon.fa-bars {
        z-index: 9999;


    }


    #search-input {
        min-width: 123px;
    }

    .netflix-logo-mobile {
        z-index: 9999;
        display: block;
        width: 100px;
        margin: 0 auto;
        grid-column: 2;
        grid-row: 1;
    }

    .topnav a {
        display: none;
        background-color: #212121;
        padding-bottom: 2em;
        z-index: 9999;
    }

    .icon {
        float: right !important;
        display: flex;
        right: 16px;
        top: 16.5px;
        grid-column: 3;
        grid-row: 1;
        justify-self: right;
    }

    .search-container {
        justify-self: left;
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    /* Additional styles for smaller screens */


    .result-container h2 {
        display: none;
    }

    #viewAllCards .film-list,
    #result-row,
    #viewAllCards .film-list,
    .list-view .film-list {
        padding-top: 2em;
        display: grid;
        grid-auto-rows: 250px;
        margin: 0 auto;
        justify-content: center;
    }


    #viewAllLink {
        position: relative;
        z-index: 9997;
    }

    .viewAllLinkReturn {
        position: relative;
        top: 70px;
    }
}