@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff');
}

* {
    margin: 0;
    box-sizing: border-box;
    background-color: #141414;
}

body {
    color: #e5e5e5;
    font-family: 'Netflix Sans', sans-serif;
    font-size: 1em;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

.icon {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

#page-content {
    padding-left: 3%;
    padding-right: 3%;
}

img {
    width: 100%;
    display: block;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 3em;
}

.topnav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    max-width: 100%;
    gap: 3em;
}

a:hover {
    color: #b3b3b3;
}

.netflix-logo {
    max-width: 100px;
}

.netflix-logo-mobile {
    display: none;
}

#favorites-container {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex-wrap: wrap;
    gap: 0.7em;
    margin-top: 1em;
    position: relative;
}



.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#search-container {
    width: 260px;
    height: 40px;
    background-color: #333;
    display: flex;
    align-items: center;
    z-index: -1;
}

#search-button {
    color: white;
    cursor: pointer;
    z-index: 9998;
}

#search-input.active {
    white-space: nowrap;
    z-index: 9998;
}

#search-input {
    width: 0;
    overflow: hidden;
    min-width: 145px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border: 1px white solid;
    white-space: nowrap;
    margin-left: -25px;
    text-indent: 2.3em;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    z-index: 9997;
}

.search-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#result-row {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    flex-wrap: wrap;
    gap: 0.7em;
    margin-top: 1em;
    position: relative;
}

.result-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 100%;
    position: relative;
    align-self: center;
    justify-self: center;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.index-header-container h1 {
    line-height: 28px;
}

.index-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 100%;
}

.categories-header-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-end;
    width:100%;
}
#categoriesHeader {line-height: 1em;}
#categoryDropdown, #sort-dropdown {
    width: fit-content;
    color: white;
    font-weight: bold;
    padding: 0.3em;
    font-size: 0.8em;
}

#categoryDropdown option {
    border-radius: 0px;
}

#categoryDropdown select {
    border-radius: 0px;

}

.category-row h3 {

    color: #fff;
    font-size: 1.3em;
    padding-bottom: 0.5em;
}
.viewAllLink-container {margin-left:auto;}
.category-row {
    display: grid;
    grid-template-rows: 1fr 250px;

}

.hidden {
    display: none;
    transition: opacity 200ms, display 200ms;

}

.film-list {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
    flex-wrap: wrap;
}

.card {
    display: grid;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, z-index 0.3s;
    border-radius: 5px;
    min-width: 175px;
    max-width: 250px;
    position: relative;
}

.card img {
    border-radius: 4px;
}

.card h3 {
    font-size: 0.9em;
    padding-top: 0.2em;
}


/* Modal container */
.modal {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;

  }
  
  /* Modal content */
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: opacity 0.3s; /* Add transition effect for opacity */

  }

  
  /* Close button */
  .close-modal-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
  }
  
  /* Image within the modal */
  .modal-content img {
    max-width: 100%;
  }
  
  /* Additional styling for title, release year, and description */
  .modal-content h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .modal-content .film-release-year {
    font-size: 18px;
    color: #999;
  }
  
  .modal-content .film-description {
    font-size: 16px;
    margin: 20px 0;
  }
  
.card:hover {
    transform: scale(1.2);
    z-index: 9997;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition-delay: 0.3s;
}


.film-details {
    display: none;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #212121;
    border-radius: 0 0 5px 5px;
    position: relative;

}
.close-modal-button {display:none;}
.modal .close-modal-button {display:block;}
.modal .film-card:hover {transform:none;}
.modal .film-details {display:flex;}
.modal {z-index: 9999;}



.film-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
}

.play-button,
.favorite-button,
.remove-favorite-button {
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    padding: 0.5em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button .fa-play {
    color: black;
}

.play-button {
    background-color: white !important;
    border: black 2px;
    align-items: center;
}

.card p {
    font-size: 0.7em;
    line-height: 1.5em;
    padding-bottom: 1.5em;
    font-weight: 500;
}

#viewAllButtons {
    position: relative;
    justify-self: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
}

#viewAllLink.active .hide-in-view-all {
    display: none;
}

#viewAllCards .film-list {
    display: grid;
    grid-auto-rows: 200px;
}

.list-view .film-list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-auto-rows: 200px;
    position: relative;
}

.grid-view .film-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
    width: 100%;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.grid-view .film-card {
    transition: transform 0.3s ease-in-out, z-index 0.3s;
}

.list-view {
    display: flex !important;
    flex-direction: column;
    gap: 5em;
}

#individual-film-container{}
#individual-film-container .card {max-width:80vw;margin:0 auto;}


#individual-film-container .card:hover {transform: none;}
#individual-film-container .film-details {display:flex;}

@media (max-width: 767px) {

    .topnav {display:none;}
    #wrapper {
        max-width: 600px;
    }

  
    .card p,
    .film-card-buttons,
    .card h3 {
        background-color: #212121;
    }


    .card h3 {
        font-size: 0.7em;
    }

    .card p {
        padding: 1em;
    }

    .film-list {
        position: relative !important;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    .card h3 {
        background-color: transparent;
    }

    .category-row {
        grid-template-rows: auto;
        padding-top:3em;
    }

    .category-row h2 {
padding-bottom: 1em;    }

    .categories-header {
        padding: 0;
    }

    .film-details {
        padding: 0;
    }

    .viewAllLink-container {
        margin: 0;
    }

    #viewAllCards .film-list {
        display: flex;
        align-items: center;
        padding-top: 2em;
    }

    #viewAllButtons {
        display: none;
    }
}

@media screen and (max-width: 1040px) {

    #menuIcon.fa-bars {
        z-index: 9999;
    }

    #search-input {
        min-width: 123px;
    }

    .netflix-logo-mobile {
        z-index: 9998;
        display: block;
        width: 100px;
        margin: 0 auto;
        grid-column: 2;
        grid-row: 1;
    }

    .search-container {
        justify-self: left;
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .result-container h2 {
        display: none;
    }

    #viewAllCards .film-list,
    #result-row,
    #viewAllCards .film-list,
    .list-view .film-list {
        padding-top: 2em;
        display: grid;
        grid-auto-rows: 250px;
        margin: 0 auto;
        justify-content: center;
    }


    #viewAllLink {
        position: relative;
        z-index: 9997;
    }

    .viewAllLinkReturn {
        position: relative;
        top: 70px;
    }
}